# Copyright (c) 2025 Classified Cycling BV
# SPDX-License-Identifier: Apache-2.0

config BOARD_CC_MSH_V2
	select SOC_NRF54L15_CPUAPP if BOARD_CC_MSH_V2_NRF54L15_CPUAPP
	select SOC_NRF54L15_CPUAPP if BOARD_CC_MSH_V2_NRF54L15_CPUAPP_NS
	select SOC_NRF54L15_CPUFLPR if BOARD_CC_MSH_V2_NRF54L15_CPUFLPR
	select SOC_NRF54L15_CPUFLPR if BOARD_CC_MSH_V2_NRF54L15_CPUFLPR_XIP
